//name of colors from site:
//http://chir.ag/projects/name-that-color

$cape_cod:            #444748;
$forest_green:        #23ab1f; 
$white:               white;
$transparent:         rgba(255,255,255,0);
$green:               #08ee00;
$japanese_laurel:     #069b01;
$milan:               #feffa7;
$ronchi:              #e6d43e;
$abbey:               #565758;